<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.winter.app.notice.NoticeDAO">
   		<select id="list" resultType="NoticeDTO"  parameterType="Pager">
   		
	   			SELECT *
				FROM 
					(SELECT ROWNUM R,B.* 
		 			 FROM (SELECT * 
		  	   			   FROM NOTICE 
		  	   			<where>
		  	   			   BOARD_NUM > 0
		  	   			<choose>
							<when test="kind=='k3'">
								AND BOARD_WRITER LIKE '%'||#{search}||'%'
							</when>
							<when test="kind=='k2'">
								AND BOARD_CONTENTS LIKE '%'||#{search}||'%'
							</when>
							<otherwise>
								AND BOARD_TITLE LIKE '%'||#{search}||'%'
							</otherwise> 
						</choose>
				  	   </where>
						ORDER BY BOARD_NUM DESC)
						B)
						WHERE R BETWEEN #{stratRow} AND #{lastRow}	   

   		</select>
   		
   		<select id="detail" resultType="NoticeDTO" parameterType="NoticeDTO">
   			SELECT BOARD_NUM
				,	BOARD_WRITER
				,   BOARD_TITLE
				,   BOARD_CONTENTS
				,   CREATE_DATE
				,   UPDATE_DATE
				,   BOARD_CATEGORY
				,   BOARD_HIT
			FROM NOTICE
			WHERE BOARD_NUM=#{board_num}	   

   		</select>	
   		
   		<delete id="delete" parameterType="NoticeDTO">
   			DELETE FROM NOTICE
			WHERE BOARD_NUM = #{board_num}
   		
   		</delete>
   		
   		<insert id="add">
   			
		INSERT INTO NOTICE 
		(BOARD_NUM
		,BOARD_WRITER
		,BOARD_TITLE
		,BOARD_CONTENTS
		,CREATE_DATE
		,BOARD_CATEGORY)
		
		VALUES(
		NOTICE_SEQ.NEXTVAL
		,#{board_writer}
		,#{board_title}
		,#{board_contents}
		,SYSDATE
		,'a'
		)
   		</insert>
   
   </mapper>
   
   
   
   
   
   
   
   
   
   
   
   