<?xml version="1.0" encoding="UTF-8"?>
<!--mybatis가 이 파일에 있는 쿼리문을 읽어감 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.winter.app.product.ProductDAO">
	<!-- 쿼리 뒤에 ;찍지않음 -->

	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">

		SELECT COUNT(PRODUCT_ID) FROM PRODUCT
		<where>
			 PRODUCT_ID > 0

			<choose>
				<when test="kind=='k2'">
					AND PRODUCT_DETAIL LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND PRODUCT_TYPE LIKE '%'||#{search}||'%'
				</otherwise> 
			</choose>
		</where>

	</select>

	<select id="getList" resultType="ProductDTO" parameterType="Pager">
		<!-- SELECT * FROM PRODUCT ORDER BY PRODUCT_ID ASC -->
		<!-- <![CDATA[ -->
		SELECT *
		FROM
		(SELECT ROWNUM R,B.*
			FROM (SELECT *
				  FROM PRODUCT
		<where>
			PRODUCT_ID > 0

			<choose>
				<when test="kind=='k2'">
					AND PRODUCT_DETAIL LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND PRODUCT_TYPE LIKE '%'||#{search}||'%'
				</otherwise> 
			</choose>
			<!-- <if test="kind=='k2'"> 
				WHERE PRODUCT_DETAIL 
			</if> 
			<if test="kind=='k1'"> 
				AND PRODUCT_TYPE 
			</if> -->
		</where>
		ORDER BY PRODUCT_ID DESC)
		B)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
		<!-- ]]> -->
	</select>

	<select id="getDetail" resultType="ProductDTO"
		parameterType="ProductDTO">
		SELECT * 
		FROM PRODUCT 
		WHERE PRODUCT_ID = #{product_id}
	</select>
	<select id="getNum" resultType="Long">
		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
	</select>

	<!-- resultType은 없지만 int가 리턴 -->
	<select id="add" parameterType="ProductDTO">
		INSERT INTO 
		PRODUCT
		VALUES(#{product_id}
			   ,#{product_type}
			   ,#{product_rate}
			   ,#{product_detail})
	</select>

	<select id="delete" parameterType="ProductDTO">
		DELETE 
		PRODUCT 
		WHERE PRODUCT_ID = #{product_id}
	</select>

	<select id="update" parameterType="ProductDTO">
		UPDATE PRODUCT 
		SET
	    PRODUCT_ID = #{product_id}
	   	 , PRODUCT_TYPE = #{product_type}
	   	 , PRODUCT_RATE = #{product_rate}
	   	 , PRODUCT_DETAIL = #{product_detail} 
	    WHERE PRODUCT_ID =	#{product_id}
	</select>

</mapper>