<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.winter.app.boards.qna.QnaDAO">
   <!-- 반복되는 쿼리문을 모아놓고 가져다가 쓸 수 있음 -->
   <sql id="searchSql">
   		<where>
			BOARD_NUM > 0
			<choose>
				<when test="kind=='title'">
					AND BOARD_TITLE  
				</when>
				<when test="kind=='contents'">
					AND BOARD_CONTENTS 
				</when>
				<otherwise>
					AND BOARD_WRITER 
				</otherwise>
			</choose>
			LIKE '%'||#{search}||'%'
		</where>
   
   </sql>
   	<select id="getTotalCount" parameterType="Pager"  resultType="Long">
   		SELECT COUNT(BOARD_NUM)
   		FROM QNA
   		<include refid="searchSql"></include> 
   	
   	</select>
   
   	<select id="list" parameterType="Pager" resultType="QnaDTO">
	   	SELECT *
	   	FROM  (
	   		  SELECT ROWNUM R, Q.* 
	   		  FROM (
					SELECT * 
					FROM QNA
					<include refid="searchSql"></include> <!-- 반복되는 sql문을 사용하는 법 -->
					ORDER BY REF DESC,STEP ASC
					) Q
				)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
      	
   	</select>
   	
   	<insert id="add" parameterType="QnaDTO" >
   	<selectKey order="BEFORE" resultType="Integer" keyProperty="board_num">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		
   		INSERT INTO
   		QNA(
   			BOARD_NUM
   		  , BOARD_WRITER
   		  , BOARD_TITLE
   		  , BOARD_CONTENTS
   		  ,	CREATE_DATE
   		  , UPDATE_DATE
   		  , BOARD_CATEGORY
   		  , REF
   		  , STEP
   		  , DEPTH
   		  , DEL
   		    )
		VALUES(
				NOTICE_SEQ.NEXTVAL
			 ,	#{board_writer}
			 ,	#{board_title}
			 ,	#{board_contents}
			 , SYSDATE
			 , SYSDATE
			 , 'Q'
			 , #{board_num}
			 ,	0
			 ,	0
			 ,	0
			  )
 	
   	</insert>
   	
   	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES	VALUES
  		(
  			FILES_SEQ.NEXTVAL,#{board_num}, #{file_name}, #{ori_name}
  		)	

  	</insert>
   	
   	<select id="detail" parameterType="QnaDTO" resultType="QnaDTO"> 
   		SELECT Q.*, QF.*  
   		FROM QNA Q
   			LEFT JOIN
   			 QNAFILES QF 
   			 ON Q.board_num = QF.board_num
   		WHERE Q.BOARD_NUM = ${board_num} 
   						  
   						  
   	<!-- 	SELECT Q.*, QF.* 
  		FROM QNA Q
  			 LEFT JOIN
  			 QNAFILES QF 
  			 ON Q.boardNum = QF.boardNum
  		WHERE Q.BOARDNUM=#{boardNum} -->
   	</select>
   	
   	<resultMap type="QnaDTO" id="detailResult">
  		<id column="BOARD_NUM" property="board_num"/>
  		<result column="BOARD_WRITER" property="board_writer"/>
  		<result column="BOARD_CONTENTS" property="board_contents"/>
  		<result column="BOARD_TITLE" property="board_title"/>
  		<result column="CREATE_DATE" property="create_date"/>
  		<result column="UPDATE_DATE" property="update_date"/>
  		<result column="BOARD_HIT" property="board_hit"/>
  		<result column="BOARD_CATEGORY" property="board_category"/>
  		<result column="REF" property="ref"/>
  		<result column="STEP" property="step"/>
  		<result column="DEPTH" property="depth"/>
  		<result column="DEL" property="del"/>
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>  		
  		</collection>
  	</resultMap>
   	
   	   	<insert id="reply" parameterType="QnaDTO" >
   		INSERT INTO
   		QNA(
   			BOARD_NUM
   		  , BOARD_WRITER
   		  , BOARD_TITLE
   		  , BOARD_CONTENTS
   		  ,	CREATE_DATE
   		  , UPDATE_DATE
   		  , BOARD_CATEGORY
   		  , REF
   		  , STEP
   		  , DEPTH
   		    )
		VALUES(
				NOTICE_SEQ.NEXTVAL
			 ,	#{board_writer}
			 ,	#{board_title}
			 ,	#{board_contents}
			 , SYSDATE
			 , SYSDATE
			 , 'Q'
			 ,	#{ref}
			 ,	#{step}
			 ,	#{depth}
			  )
 	
   	</insert>
   	<update id="replyUpdate" parameterType="QnaDTO">
	   	UPDATE QNA 
		SET STEP = STEP +1
		WHERE REF = #{ref} 
					AND
					STEP > #{step}
   	
   	</update>
   	
   	<update id="update"  parameterType="QnaDTO">
   		UPDATE QNA
   		SET 
   			 BOARD_TITLE = #{board_title}
   			,BOARD_CONTENTS = #{board_contents}
   			,UPDATE_DATE = SYSDATE
   		WHERE BOARD_NUM = ${board_num}		
   							
   	
   	</update>
   	  <update id="hit" parameterType="QnaDTO">
		 UPDATE QNA 
		 SET BOARD_HIT = BOARD_HIT + 1
			WHERE BOARD_NUM = #{board_num}
 	</update>
   	
   <delete id="delete" parameterType="QnaDTO">
   		UPDATE QNA 
   		SET 
   			DEL=1 
   	   	WHERE BOARD_NUM = #{board_num}
   </delete>
   
   </mapper>